html {
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
}

.wrap {
    max-width: 1150px;    
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.marT20 {
    margin-top: 20px;
}

.marR210 {
    margin-right: 210px;
}

.pad50 {
    padding: 50px;
}

.block {
    display: block;
}
h3 {
    font-size: 45px;
    font-family: 'REM', sans-serif;
    color: #fff;
}

h4 {
    font-size: 30px;
    font-family: 'REM', sans-serif;
    color: #fff;
}

main {
    background-color: #000A14;
    height: 400% !important;;
}

.more {
    margin-top: 30px;
    background-color: #002E5B;
    width: 75px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 10px;
    font-size: 14px;
}

.more:hover {
    background-color: #001E3B;
    color: #fff;
}

.fp-tableCell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.web {
    position: absolute;
    top: 22px;
    left: 40%;
    color: #fff;
    display: none;
}

#portfolio .container > div:hover .web {
    display: flex;
    flex-direction: column;
}