header {
    padding: 15px;
    box-sizing: border-box;
    font-family: 'REM', sans-serif;
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: #000A14;
    
}

header:hover {
    background-color: #001E3B;
}

header .container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

header .container h1 a {
    color: #fff;
}

header .container .list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

header .container .list li a {
    color: #fff;
}

header .container .list li a:hover {
    color : aqua;
}

.color {
    color: aqua;
}