/* ABOUT */
#about .insa {
    position: relative;
}

#about .insa > .select {
    color: #fff;
    position: absolute;
    right: -256px;
}

#about .insa > .select span {
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

#about .insa > .select span:nth-child(1) {
    margin-right: 30px;
}

#about .insa > .select span:hover {
    border-bottom: 2px solid #00C7CA;
}

#about .insa > .event {
    background-image: url(../img/touch.svg);
    width: 24px;
    height: 24px;
    position: absolute;
    right: -220px;
    top: 22px;
    z-index: -1;
}

#about .insa > .event > div {
    display: flex;
    color: #fff;
    margin-left: -71px;
    margin-top: -9px;
    letter-spacing: 0.5rem;
    font-family: 'REM', sans-serif;
}

#about .insa > .event > div span {
    animation: 3s ease 0s infinite normal none running titleWordAni;
    position: relative;
    font-size: 18px;
}

#about .insa > .event > div span:nth-child(1) {
    animation-delay: 0.3s;
}

#about .insa > .event > div span:nth-child(2) {
    animation-delay: 0.6s;
}

#about .insa > .event > div span:nth-child(3) {
    animation-delay: 0.9s;
}

#about .insa > .event > div span:nth-child(4) {
    animation-delay: 1.2s;
}

#about .insa > .event > div span:nth-child(5) {
    animation-delay: 1.5s;
}

@keyframes titleWordAni {
    0% {
        top: 0px;
    }
    20% {
      top: -0.4rem;
    }
    40% {
      top: 0px;
    }
    60% {
      top: 0px;
    }
    80% {
      top: 0px;
    }
    100% {
      top: 0px;
    }
}

#about .container > div {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 880px;
}

#about .container .profile ul {
    color: #fff;
    width: 530px;
}

#about .container .profile ul li {
    line-height: 1.5;
}

#about .container .profile ul li:nth-child(5) {
    margin-left: 43px;
}

#about .container .profile ul li:last-child {
    margin-left: 181px;
}

#about .container .sogae p {
    color: #fff;
    line-height: 1.2;
}



/* SKILL */
#skill .stack {
    margin-top: 30px;
}

#skill .stack .develop span, #skill .stack .design span {
    display: flex;
    align-items: center;
    line-height: 3;
}

#skill .stack .develop span::before, #skill .stack .design span::before {
    content: "";
    width: 15px;
    height: 15px;
    background: #00FFFF;
    border-radius: 50%;
    margin-right: 5px;
}

#skill .stack .develop, #skill .stack .design {
    color: #fff;
}

#skill .hash {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 10px 0;
}

#skill .hash li {
    border: 1px solid #00FFFF;
    color: #0FF;
    padding: 5px;
    border-radius: 20px;
    height: 35px;
    line-height: 20px;
    font-size: 14px;
    width: 100px;
    text-align: center;
}

/* portfolio */
#portfolio .container {
    margin-top: 50px;
}

#portfolio .container > div {
    position: relative;
}

.gallery article::before {
  content: "";
  width: 307px;
  height: 204px;
  position: absolute;
  border-radius: 10px;
}

.gallery article:hover:before {
  background-color: rgba(0,0,0,0.5);
}

.gallery article::after {
    content: "";
    background-image: url(../img/add-w.svg);
    display: none;
    width: 30px;
    height: 30px;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: calc(50% - 12px);
}

.gallery article:hover:after {
    display: block;
}

.view {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}



.popup.pop article {
    padding: 35px;
    background-color: rgba(0, 30, 59, 0.5);
    border-radius: 10px;
}

/* contant */
#contact .container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: #fff;
}

#contact .container span:nth-child(1) {
    font-size: 50px;
}

#contact .container span:nth-child(2) {
    margin-left: 30px;
}

#contact .container-sub {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    color: #fff;
}

#contact .container-sub span {
    border: 1px solid #00FFFF;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    color: #00FFFF;
}

#contact .container-sub span:before {
    content: "";
    width: 30px;
    height: 30px;
    background-size: contain;
    margin-right: 6px;
}

#contact .container-sub span.tel::before {
    background-image: url(../img/call.svg);
}

#contact .container-sub span.email::before {
    background-image: url(../img/mail.svg);
}

#contact .bottom {
    color: #fff;
    text-align: center;
    margin-top: 300px;
}